  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

  /* Apply the fonts */
  body {
    font-family: 'Open Sans', sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Playfair Display', serif
  }
  small {
    font-family: 'Montserrat', sans-serif;
  }


  .text-shadow{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
